# ============================== ENVIRONMENT CONFIGURATION ============================== #
# This is the environment configuration file for the backend application.
# It contains various settings and secrets required for the application to run.
# ============================== CORE APPLICATION VARIABLES ============================== #

# Database Configuration
DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:PORT/life-line

# Database Migration URL (used only for development and testing, ignore while running application)
MIGRATION_URL=

# Google OAuth 2.0 Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:4200/auth/google/callback # Change in case the frontend is hosted on a different URL

# JWT Configuration
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Server Configuration
BACKEND_PORT=8080
FRONTEND_URL=http://localhost:4200

# Environment (this can stay development for local setups)
ENVIRONMENT=development

# ============================== AI & N8N INTEGRATION SETTINGS ============================== #

# SPECIAL FEATURE TOGGLES: Use these to enable or disable specific features, mainly for AI functionalities.
FEATURE_AI_CHAT_ENABLED=true # Enable AI Chat Feature widget on the frontend. Requires n8n workflow to make it functional.
FEATURE_AI_ILLNESS_SUGGESTIONS_ENABLED=true # Enable AI Illness Suggestions Feature widget on the frontend. Requires API for HUGGINGFACE AI model to be functional.
FEATURE_AI_DRIVE_ENABLED=true # Enable AI Drive Feature widget on the frontend. Requires n8n workflow to make it functional.

# N8N AUTOMATION CONNECTION SETTINGS
N8N_URL=
N8N_GOOGLLE_OAUTH2_CLIENT_ID=
N8N_GOOGLE_OAUTH2_CLIENT_SECRET=
N8N_API_KEY=
N8N_WEBHOOK_AUTH_KEY=

# AI MODEL API KEY: For this project, we are using Hugging Face as the AI model provider.
# If you opt for a different provider, replace this key with the appropriate one AND replace the actual service method with a working implementation for that AI model API.
HUGGINGFACE_API_KEY=