# Database Configuration
## For Local Development Database
DATABASE_URL=
## Change the above line to use the deployed Supabase Database within the deployed environment

# Database Migration URL
## For Deployed Supabase Database
MIGRATION_URL=
# For Local Development Database
# MIGRATION_URL=

# Google OAuth 2.0 Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# JWT Configuration
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440 # 24 Hours

# Server Configuration
BACKEND_PORT=8080
FRONTEND_URL=http://localhost:4200

# Environment
ENVIRONMENT=development

# N8N AUTOMATION CONNECTION (DEPLOYED INSTANCE)
N8N_URL=
N8N_GOOGLLE_OAUTH2_CLIENT_ID=
N8N_GOOGLE_OAUTH2_CLIENT_SECRET=
N8N_API_KEY=
N8N_WEBHOOK_AUTH_KEY=