# ============================== ENVIRONMENT CONFIGURATION ============================== #
# This is the environment configuration file for the frontend application.
# It contains only two vairables that are used to control the visibility of AI-related features on the frontend.
# The actual functionality of these features is controlled by the backend, so even if you set these to true, you won't see the features unless they are also enabled on the backend and properly implemented.
VITE_API_BASE_URL=http://localhost:8080
VITE_FEATURE_AI_CHAT_ENABLED=false
VITE_FEATURE_AI_ILLNESS_SUGGESTIONS_ENABLED=false
